body {
  font-family: Arial, Helvetica, sans-serif;
}

#NodeList {
  font-size:xx-small;
  padding: 5px 5px 5px 5px;
}

li.Node{
  margin-top : 4px;
  margin-bottom: 4px;
}

.searchbox{
  width:200px;
  height: auto;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
}

.search{
  background-color: purple;
}

.searchWrapper{
  padding-left:20px;
}

.searchbox .footer a{
  position :relative
}

#searchbar{
  padding-left : 10px;
  margin-left: 9px;
  margin-right: 9px;
}