body {
font-family: Arial, Helvetica, sans-serif;
}

#NodeList {
  background-color: rgba(63, 62, 62, 0.466);
  font-size: small;
  padding: 10px 10px 10px 10px;
}

li.Node{
  margin-top : 5px;
  margin-bottom: 4px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color:white;
  border-radius: 10px;
}

.searchbox{
  width:200px;
  height: auto;
}