
* {
  box-sizing: border-box;
}


body,main,#board {
  margin:0;
  padding:0;
}
body {
  background-image: url('./background2.png');
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 100vh;
  overflow: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  transform-origin: center;
}

#board {
  width: 100vw;
  height: 100vh;
  transform-origin: 0 0 0;
  position: absolute;
  top:0;
  left: 0;
}

/* Popup */

#popup {
  margin: 0;
  padding: 0;
  display:none;
}

/* Dialog Popup Window*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hamburger Menu */

.hamburger {
  display: block;
  position: absolute;
  background-color: #fffb;
  border-radius: 4px;
  color: #222;
  font-size: 18px;
  box-shadow: 0px 0px 3px 3px #444;
  z-index: 999;
}


.hamburger::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -5px;
  width: 0; 
  height: 0; 
  border-right: 5px solid #fffd ;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
}


.hamburger ul {
  padding: 0;
  list-style: none;
  margin: 1px;
  color: #333;
}

.hamburger li {
  padding: 0px 0px;
  float: left;
  margin: 0px 5px;
}


.hamburger li a {
  display: block;
  text-decoration: none;
  color: #444;
}

.hamburger li a:hover {
  color: black;
}


.hamburger .shortcut {
  float: right;
  margin-left: 15px;
  text-align: center;
  font-style: italic;
}

/* Node */

section {
  position:absolute;
  /* width: min-content; */
  /* max-width: 200px; */
  /* background-color: black; */
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 4px 4px 2px 1px rgba(10, 10, 10, .4);
  resize: both;
}

section:focus-within {
  border: 1px solid yellow;
}

i {
  pointer-events: none;
}
p {
  margin: 0;
}

button {
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.header {
  padding: 1px 3px;
  color: white;
  border-radius: 4px 4px 0px 0px;
}

.header a {
  text-decoration: none;
  color: black;
  margin-right: 3px;
}

.header p,label {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}
/* Color scheme from ColorBrewer: 9-class qualitative
 * ['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6']
 * ['#8dd3c7','#ffffb3','#bebada','#fb8072','#80b1d3','#fdb462','#b3de69','#fccde5','#d9d9d9']
*/


.header .toolset {
  float: right;
}

.header .toolset a {
  display: inline-block;
  /*
  font-size: inherit;
  border: solid 1px black;
  border-radius: 50%;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  */
}

/*
.header .toolset a:last-child {
  margin: 0;
}
*/

.shrinkdiv {
  display: none;
  border-radius: 4px;
}

.shrinkdiv .in_socket  {
  display: inline-block;
  background-color: #f2f1f0;
  /*float: left;*/
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  transition: 0.3s;
  position: absolute;
  border: solid 1px black;
  border-radius: 50%;
  padding: 0;
  top: 16px;
  left: -6px;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
}

.shrinkdiv .out_socket  {
  display: inline-block;
  background-color: #f2f1f0;
  /*float: left;*/
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  transition: 0.3s;
  position: absolute;
  border: solid 1px black;
  border-radius: 50%;
  padding: 0;
  top: 16px;
  right: -6px;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
}

.shrinkB {
  display: none;
}

.shrink {
  width: auto;
  border-radius: 4px;
  margin: 0px 8px;
}

.shrink .header {
  width: 100%;
}

.shrink .header .toolset {
  margin-left: 20px;
}


.shrink .preview {
  display: none;
}

.shrink .expandB {
  display: none;
}

.shrink .shrinkB {
  display: inline-block;
}

.shrink > .shrinkdiv{
  display: block;
}

.shrink > .body {
  display: none;
}
.shrink > .footer {
  display: none;
}

.primitive {
  background-color: #e64555;
}

.loader {
  background-color: #1f78b4;
}

.saver, .processing {
  background-color: #b33641;
  /* background-color: #a6cee3; */
}

.viewer,.consumer,.plot {
  background-color: #646dc2;
}

.tool,.reactive {
  background-color: #66c4ff;
}

.rendering {
  background-color: #fb9a99;
}

.information {
  background-color: #749797;
}

.io,.producer {
  background-color: #e68745;
  background-color: #ff7f00;
}

.morphology {
  background-color: #33a02c;
}


.filter,.selection {
  background-color: #1f78b4;
}

.programming {
  background-color: #426628;
  background-color: #33a02c;
}

.switch {
  background-color: #33a02c;
}

.body {
  min-width: 120px;
}

.footer {
  background-color: rgb(20,20,20);
  border-radius: 0 0 4px 4px;
  color: white;
}

 /* Style the layer */
.layer {
  display: none
}


/*
.tabs li {
  float: left;
  margin: 0 2px 0 0;
}


.tabs li a {
  text-decoration: none;
  display: block;
  width: 1em;
  padding: 0 3px;
  font-weight: bold;
  color: black;
  border-bottom: 0.5em solid #fc6;

}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 4px;
  transition: 0.3s;
  position: absolute;
  border: solid 1px black;
  border-radius: 14px;
  left: 120px;
}

*/

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 



.body {
  display: block;
  flex-flow: column wrap;
  padding: 4px;
  background-color: #D3D3D3A0;
  align-items: stretch;
}


.body .row {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
}

.row-1 {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.row-1 .flex-cell:nth-child(1) {
  width: 100%;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: right;
  justify-content: space-between;
}

.row-2 .flex-cell:nth-child(1) {
  width: 40%;
}

.row-2 .flex-cell:nth-child(2) {
  width: 60%;
}


.body .in_socket .flex-cell:nth-child(1) {
  width: auto;
  margin-right: 10px;
}

.body .in_socket .flex-cell:nth-child(2) {
  width: auto;
  margin-right: auto;
}

.body .out_socket .flex-cell:nth-child(1) {
  width: auto;
  margin-left: auto;
}

.body .out_socket .flex-cell:nth-child(2) {
  width: auto;
  margin-left: 10px;
}


.row-3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: right;
  justify-content: space-between;
}



.body .input {
  text-align: left;
  /*padding: 0px 2px;*/
}

.body label {
  /* margin-right: 8px; */
  text-align: right;
}

/*
 * Collapsible
 * From https://alligator.io/css/collapsible/
 */

.toggle {
  display: none;
}

label .lbl-toggle {
  display: block;
  text-align: left;
  cursor: pointer;

  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .3rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content p {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
  background-color: #ddd;
  padding: 4px 0px;
  border-radius: 3px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*
 * Select Widget
 */ 
 
.select-container {
  position: relative; 
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  /* margin: 0 0 1.5em 0; */
  
  overflow: hidden; 
}

.select-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  width: 110%; 
  /* 
    On est sûr de ne plus voir
    la flèche native 
  */
  
  height: auto;
  border: 0; 
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
  font-size:12px;
  background-color: #fefefe;

}

.select-container::after { 
  content: '';
  position: absolute;
  top: 50%; 
  margin-top: -3px;
  right: 4px;  
  display: block; 
  width: 0; height: 0;
  border-color: transparent;
  border-top-color: #444; 
  border-width: 6px;
  border-style: solid;
  pointer-events: none;
}

a.button,label.button {
  display:inline-block;
  font-family: 'Lato', sans-serif;
  font-size:12px;
  background-color: #ddd;
  color: #555;
  width: min-content;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  text-decoration: none;
  text-align:center;
  transition: all 0.2s;
}
a.button:hover,label.button:hover{
  /*border: 1px solid black;*/
  background-color: #eee;
  color: black;
}

a.square {
  width:initial;
  border-radius: 3px;
  padding: 3px;
}
input[type="file"].visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input[type="file"].visually-hidden:focus + label {
  outline: thin dotted;
}

input[type="file"].visually-hidden:focus-within + label {
  outline: thin dotted;
}

input, .select-container {
  font-family: 'Lato', sans-serif;
  font-size:12px;
  background-color: #fefefe;
  border: solid 1px #ccc;
}
/*
input:-moz-read-only {
  color: #888;
  cursor: not-allowed;
}

input:readonly {
  color: #888;
  cursor: not-allowed;
}
*/

input[type="text"],input[type="password"] {
  width: 90%;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding-left: 4px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
  -moz-appearance: textfield;
  width: 90%;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding-left: 4px;
}

input[type="color"] {
  padding: 0px;
}

/*
.inputs {
  display: flex;
  flex-flow: column wrap;
  bottom: 0;
}

.inputs .input {
  margin: 2px 0px;
}
*/

textarea {
  font-size: 10px;
}

.input button  {
  display: inline-block;
  /*float: left;*/
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  transition: 0.3s;
  position: absolute;
  border: solid 1px black;
  border-radius: 50%;
  padding: 0;
  left: -6px;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
}

.input button:hover { 
/*
    content: '';
    display: block;
    position: relative;
    top: -22px;
    bottom: 0;
    left: -16px;
    right: 0;
    width: 100%;
    height: 100%;
*/
/*
  bottom: 8px;
  left: -14px;
  border: solid 8px  #fff9;
*/
}

.input label {
  text-align: left;
  padding: 0px 10px;
}

.outputs {
  display: flex;
  flex-flow: column wrap;
  top: 0;
}

.output {
  text-align: right;
}

.output button  {
  display: block;
  float: right;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0px;
  transition: 0.3s;
  position: absolute;
  border: solid 1px black;
  border-radius: 1em;
  padding: 0;
  right: -6px;
  line-height: 1em;
  width: 1.2em;
  height: 1.2em;
}

.output label {
  padding: 0px 10px;
  display: block;
  width: 100%;
}


.file-label {
  background-color: #fefefe;
  border: solid 1px black;
  border-radius: 4px;
  padding: 4px;
}

/*
.body input[type="file"], .file-input {
  display: none;
}
*/


.body .graphics {
  background-color: #fffa;
}

.body canvas {
  background-image: url(background.png);
  /*width: 94%; */
  margin: 4px;
  border: solid 1px black;
}

.flowcontrols {
  /*width: 160px;*/
  text-align: center;
  white-space:nowrap;
}

.flowcontrols button{
  display: inline-block;
}


.footer .resize {
  float: right;
}


 /* Style buttons */
.footer  .resize {
  background-color: black;
  border: none; /* Remove borders */
  color: gray; /* White text */
  padding: 0px;
  font-size: 10px;
  text-align: bottom;
  cursor: pointer; /* Mouse pointer on hover */
}

.footer a {
  position: absolute;
  text-decoration: none;
  right:0px;
}

.footer a svg {
  width: 14px;
  height: 14px:
}

.footer a:hover {
  cursor:se-resize;
}

/* Darker background on mouse-over */
.footer .resize:hover {
  cursor: grab;
} 

svg {
  stroke-width: 2px;
}