* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}
body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

h1, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p {
	padding: 0;
	margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

#h {
	background-color: #22a8f085 ;
    height: 70px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
    font-size:x-large;
    color: black;
    padding-top: 20px;
}

#h2 {
	background: url(background1.jpg) no-repeat center top;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
}

#h2 .logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 150px;
}

#h2 h3 {
	margin-top: 30px;
	letter-spacing: 1px;
}


@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.colonne{
    display:inline-block;
    vertical-align: middle;
    width: 25%;
}

@media only screen and (max-width:1200px){
    .colonne{
        text-align: center;
        padding-top: 50px;
    }

    #h {
        font-size:large;
    }
}

.global>h1{
    padding-bottom:100px;
}